In [1]:
with open('/data/sede/error_analysis/error_analysis.sql','r') as inserts:
    next(inserts)
    predicted = inserts.readlines()

title=[]
gold=[]
pred=[]
for pp in predicted:
    pp = pp.split('\t')
    if len(pp)<3:continue
    # pred[str(pp[0])]=pp[1]
    gold.append(pp[1])
    pred.append(pp[2].replace('\n',''))

In [2]:
assert len(gold)==len(pred)

In [3]:
temp = []

#connecting to DB
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("/data/sede/booksql/accounting.sqlite")

cur = con.cursor()

# The result of a "cursor.execute" can be iterated over by row
# for row in cur.execute('SELECT * FROM species;'):
#     print(row)

gold_exec, gold_not_exec=[], {}      #indexes,index : error
gold_exec_res=[]
for j,gg in enumerate(gold):
    try:
        cur.execute(gg)
        gres = cur.fetchone()
        gold_exec.append(j)
        gold_exec_res.append(gres)
    except Exception as er:
        gold_not_exec[j]=str(er)

pred_exec, pred_not_exec=[], {}
pred_exec_res=[]
for j,pp in enumerate(pred):
    try:
        cur.execute(pp)
        pres = cur.fetchone()
        pred_exec.append(j)
        pred_exec_res.append(pres)
    except Exception as er:
        pred_not_exec[j]=str(er)

# Be sure to close the connection
con.close()

In [4]:
len(gold)

1852

In [6]:
set(pred_exec_res), set(gold_exec_res)

({(0,), (None, 0), (None,), None}, {(0,), (None,), None})

In [7]:
list(set(pred_not_exec.values()))

['no such column: t2.customers',
 'near ")": syntax error',
 'near "s": syntax error',
 'incomplete input',
 'no such column: vendor',
 'no such column: unk']

In [8]:
list(set(gold_not_exec.values()))

['near "date": syntax error']

In [9]:
len(gold_exec), len(pred_exec)

(1848, 1500)

In [10]:
len(gold_not_exec), len(pred_not_exec)

(4, 352)

In [13]:
for idx in pred_not_exec:
    print(pred[idx])
    # print()
    print(gold[idx])
    print()

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_date between date(current_date) and date(current_date) and open_balance > 0
select count(distinct transaction_id) from master_txn_table where current_date > due_date and transaction_type = 'invoice'

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_date between date(current_date) and date(current_date) and open_balance > 0
select count(distinct transaction_id) from master_txn_table where current_date > due_date and transaction_type = 'invoice'

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select sum(credit) from master_txn_table where customers = 'sushi by katsuyuki' and transaction_date between date( current_date, 'start of month', '-1 months') and date( current_date, 'start of month', '-1 days') and account = 'account receivable')
select sum(open_balance) from (select distinct transaction_id, open_balance from master_txn_table where customers = "sushi by katsuyuki" and transaction_date BETWEEN date( current_date, "start of month", "-1 months") AND date( current_date, "start of month", "-1 days")  and account = 'account receivable')

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_date between date(current_date) and date(current_date) and open_balance > 0
select count(distinct transaction_id) from master_txn_table where current_date > due_date and transaction_type = 'invoice'

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_date between date(current_date) and date(current_date) and open_balance > 0
select count(distinct transaction_id) from master_txn_table where current_date > due_date and transaction_type = 'invoice'

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select balance from customers where customer_name = 'jeff's jalopies'
select billing_city, sum(credit) from master_txn_table join customers on customers = customer_name where account in ('Income','Other Income') and strftime("%Y", transaction_date) = strftime("%Y", current_date)  group by billing_city

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select balance from customers where customer_name = 'amy's bird sanctuary'
select billing_city, sum(credit) from master_txn_table join customers on customers = customer_name where account in ('Income','Other Income') and strftime("%Y", transaction_date) = strftime("%Y", current_date)  group by billing_city

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select balance from customers where customer_name = 'pye's cakes'
select billing_city, sum(credit) from master_txn_table join customers on customers = customer_name where account in ('Income','Other Income') and strftime("%Y", transaction_date) = strftime("%Y", current_date)  group by billing_city

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_date between date(current_date) and date(current_date) and open_balance > 0
select count(distinct transaction_id) from master_txn_table where current_date > due_date and transaction_type = 'invoice'

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_id = '101010'
select due_date - transaction_date from master_txn_table where transaction_type = 'invoice' and transaction_id = "101010"

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1
select account, sum(debit) from master_txn_table as T1 join chart_of_accounts as T2 on T1.account = T2.account_name  where account_type in ('Expense','Other Expense') and date(transaction_date) = date(current_date) - 1 group by account order by sum(debit) desc limit 1

select count(distinct transaction_id) from master_txn_table where transaction_type = 'invoice' and due_date <unk> current_date and transaction_date between date(current_date) and date(current_date) and open_balance > 0
select count(distinct transaction_id) from master_txn_table where current_date > due_date and transaction_type = 'invoice'

select account, sum(debit) from master_txn_table as t1 join chart_of_accounts as t2 on t1.account = t2.account_name where account_type in ('expense','other expense') and transaction_date = date(current_date, '-1 days') and t2.customers = 'acount' order by sum(debit) desc limit 1